swagger: "2.0"
info:
  version: 1.0.0
  title: Tidetech API v1
  description: |
    Tidetech API Documentation. Tidetech's API can be used to download data in a variety of formats.
    Data is available in two types, forecast data download (the /dataset objects) and hindcast data download (the /data objects).
  termsOfService: https://www.tidetech.org
  contact:
    name: Tidetech Support
    email: support@tidetech.org
    url: https://www.tidetech.org
  license:
    name: MIT
    url: http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT
host: api.tidetech.org
basePath: /v1
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
  - application/octet-stream
securityDefinitions:
  APIKey:
    type: apiKey
    description: Use a URL parameter to pass in the API Key.
    name: api_key
    in: query
paths:
  /dataset/:
    get:
      description: |
        Returns metadata for all forecast datasets that you have access to.
      security:
        - APIKey: []
      responses:
        200:
          description: dataset response
          schema:
            type: array
            items:
              $ref: '#/definitions/Dataset'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /dataset/{name}/:
    get:
      description: |
        Returns metadata for a single forecast dataset
      security:
        - APIKey: []
      parameters:
        - name: name
          in: path
          description: Name of dataset to get metadata for
          required: true
          type: string
      responses:
        200:
          description: dataset response
          schema:
            $ref: '#/definitions/Dataset'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /dataset/{name}/data/:
    get:
      produces:
        - application/octet-stream
        - application/json
      description: |
        Download or subset a single forecast dataset in either GRIB or NetCDF format.
      security:
        - APIKey: []
      parameters:
        - name: name
          in: path
          description: Name of the dataset
          required: true
          type: string
        - name: file_format
          in: query
          description: Output file format
          required: true
          type: string
          enum: ['nc', 'grb']
        - name: zipped
          in: query
          description: Zip the file (bz2) before downloading
          required: false
          type: boolean
        - name: time_from
          in: query
          description: Time to slice dataset from
          required: false
          type: string
          format: date-time
        - name: time_to
          in: query
          description: Time to slice dataset to
          required: false
          type: string
          format: date-time
        - name: time_steps
          in: query
          description: |
            "Specific timesteps to select (1 is first), use comma separated string for many, e.g., 1,2,3,4"
          required: false
          type: string
        - name: codes
          in: query
          description: "Select specific codes, comma separated string (e.g., 49,50)"
          required: false
          type: string
        - name: filename
          in: query
          description: Output file name
          required: false
          type: string
        - name: no_redirect
          in: query
          description: If set to True, this will stop any redirects to our external CDN
          required: false
          type: boolean
        - name: bounds
          in: query
          description: Lat/lon bounds as a comma separated string in the order Lon-min, Lat-min, Lon-max, Lat-max 
          required: false
          type: string
      responses:
        200:
          description: File download
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /dataset/{name}/point/:
    get:
      produces:
        - application/json
      description: |
        Download forecast dataset at one or more points.
      security:
        - APIKey: []
      parameters:
        - name: name
          in: path
          description: Name of the dataset
          required: true
          type: string
        - name: locations
          in: query
          description: GeoJSON string of point FeatureCollection with datetime as a parameter
          type: string
          required: true
        - name: zipped
          in: query
          description: Zip the file (zip) before downloading
          required: false
          type: boolean
      responses:
        200:
          description: File download
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /group/:
    get:
      description: |
        Returns all forecase datasets listed by group that you have access to.
      security:
        - APIKey: []
      responses:
        200:
          description: group response
          schema:
            type: array
            items:
              $ref: '#/definitions/Group'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /metadata/:
    get:
      description: |
        Returns metadata for all forecast datasets that you have access to.
      security:
        - APIKey: []
      responses:
        200:
          description: dataset response
          schema:
            type: array
            items:
              $ref: '#/definitions/Dataset'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /data/:
    get:
      description: |
        Returns metadata for all hindcast datasets that you have access to.
      security:
        - APIKey: []
      responses:
        200:
          description: dataset response
          schema:
            type: array
            items:
              $ref: '#/definitions/HindcastDataset'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /data/{name}/point/:
    get:
      produces:
        - application/json
      description: |
        Download data at one or more points for a single hindcast dataset.
      security:
        - APIKey: []
      parameters:
        - name: name
          in: path
          description: Name of the dataset
          required: true
          type: string
        - name: zipped
          in: query
          description: Zip the file (zip) before downloading
          required: false
          type: boolean
          default: false
        - name: locations
          in: query
          description: GeoJSON string with datetime as parameter
          required: true
          type: string
      responses:
        200:
          description: File download
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /data/{name}/area/:
    get:
      produces:
        - application/octet-stream
        - application/json
      description: |
        Download a region (lon, lat, time bounded) for a single hindcast dataset in NetCDF format.
      security:
        - APIKey: []
      parameters:
        - name: name
          in: path
          description: Name of the dataset
          required: true
          type: string
        - name: region
          in: query
          description: GeoJSON Polygon region
          required: true
          type: string
        - name: start_datetime
          in: query
          description: Datetime to select from in ISO format
          required: true
          type: string
          format: date-time
        - name: end_datetime
          in: query
          description: Datetime to select to in ISO format
          required: true
          type: string
          format: date-time
        - name: filename
          in: query
          description: Output filename
          type: string
          required: false
        - name: zipped
          in: query
          description: Zip the file (zip) before downloading
          required: false
          type: boolean
      responses:
        200:
          description: File download
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /data/points/:
    get:
      produces:
        - application/json
      description: |
        Download data at one or more points for multiple hindcast datasets.
      security:
        - APIKey: []
      parameters:
        - name: name
          in: query
          description: Name of the dataset
          required: true
          type: string
        - name: zipped
          in: query
          description: Zip the file (zip) before downloading
          required: false
          type: boolean
          default: false
        - name: locations
          in: query
          description: GeoJSON string with datetime as parameter
          required: true
          type: string
      responses:
        200:
          description: File download
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  DatasetSummary:
    allOf:
      - required:
        - name
        properties:
          name:
            type: string
          url:
            type: string
  Dataset:
    allOf:
      - $ref: '#/definitions/DatasetSummary'
      - properties:
          id:
            type: integer
            format: int32
          title:
            type: string
  Group:
    allOf:
      - required:
        - id
        properties:
          id:
            type: integer
            format: int32
          name:
            type: string
          url:
            type: string
          datasets:
            type: array
            items:
              $ref: '#/definitions/DatasetSummary'
  HindcastDataset:
    allOf:
      - required:
        - name
        properties:
          id:
            type: integer
            format: int32
          name:
            type: string
          title:
            type: string
  Error:
    required:
      - message
    properties:
      message:
        type: string